# ================================
# Node
# ================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ================================
# Electron Builder
# ================================
dist/
build/
out/
release/

# ================================
# Trash
# ================================
.DS_Store
Thumbs.db

# ================================
# Environment
# ================================
.env
.env.local
.env.*.local

# ================================
# Logs
# ================================
logs/
*.log

# ================================
# System files
# ================================
*.swp
*.swo

# ================================
# Cache
# ================================
.cache/
*.asar

# ================================
# Visual Studio Code
# ================================
.vscode/

# ================================
# Configs SENSÍVEIS E GERADOS
# ================================
config/config.json
config/users.json
